@import 'styles/variables';
@import 'styles/mixins';

.link-button {
  cursor: pointer;
  position: relative;
  padding: 15px 25px;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  color: $white;
  border-color: $white;
  border-radius: $radius-medium;

  transition: 100ms ease-in;
  transition-property: color, background-color, border-color;

  /* Sizing */
  &.large {
    font-size: 16px;
    line-height: 16px;
    padding: 20px 30px;
  }

  /* Primary */
  &:hover {
    color: $primary;
  }

  &.outline {
    @include Card;

    border: 2px solid;
    border-color: $white;

    &:hover {
      color: $primary;
      background-color: $white;
    }
  }

  &.solid {
    @include Card;

    border: 2px solid;
    border-color: $white;
    color: $black;
    background-color: $white;

    &:hover {
      color: $primary;
      border-color: darken($white, $link-button-hover-darken);
      background-color: darken($white, $link-button-hover-darken);
    }
  }

  /* Theme */
  @each $name, $color in $primary-colors {
    &.#{$name} {
      &:hover {
        color: $color;
      }

      &.outline {
        border: 2px solid;
        color: $color;
        border-color: $color;

        &:hover {
          color: $white;
          background-color: $color;
        }
      }

      &.solid {
        border: 2px solid;
        border-color: $color;
        color: $white;
        background-color: $color;

        &:hover {
          color: $white;
          border-color: darken($color, $link-button-hover-darken);
          background-color: darken($color, $link-button-hover-darken);
        }
      }
    }
  }
}
