@import 'styles/variables';

.input-field {
  width: 100%;
  position: relative;

  input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    padding: 15px 25px;
    background-color: $gray-f5;
    border-radius: $radius-medium;
    border: 1px solid;
    border-color: $gray-f5;
    outline: none;

    &:focus {
      border-color: $blue;
    }
  }

  &.error input {
    border-color: $red;
  }
  &.success input {
    border-color: $green;
  }
  .error-message {
    position: absolute;
    color: $red;
    font-size: 12px;
    bottom: 0px;
  }
}
